stream {
  upstream dns_servers {
  {% for ip_server in ip_dns_server -%}     
    server {{ ip_server }}:53;
  {% endfor -%}
  }

  server {
      listen 53  udp;
      listen 53; #tcp
      proxy_pass dns_servers;
      error_log  /var/log/nginx/dns.log info;
  }
}
